Instructions: Go to the github issues and just copy/paste its name (for example <em>"As a user, you should (only) see all the deals that you are following #58"</em>)
<br>
<input id="issue-name" style="width: 100%; height: 20px">
<br>
<button type="button" id="convert">Convert issue name to pull request name</button>
<p id="pr-name" style="font-weight: bold"></p>
